{% extends 'base.html'%}
{% block links %} 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/404.css')}}">
{% endblock %}
{% block content%}
    <div class="content">
        <img src="../statics/images/sad.png" alt="Sad face">
        <p class="animated hinge">404</p>
        <p> Page not found :(</p>
        <p> The page you're looking for doesn't exist or another error ocurred.</p>
        <footer>
            <div class="footer">
                Icons made by 
                <a href="https://www.freepik.com" title="Freepik">Freepik</a> 
                from 
                <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
            </div>
        </footer>
    </div>
{% endblock %}