{% extends 'base.html '%}
{% from "macros.html" import message %}

{% block links%}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css')}}">
{% endblock %}

{% block content %}
    <div>   
        {{ message() }}
        <form method="POST">
            {{ login_form.csrf_token }}
            {{ login_form.name }}
            <div class="user_data">
                <span style="font-size:x-large; margin-top: 2vh;">Log in</span>
                <div class="user_inputs">
                    {{ login_form.username(class_="user_input", placeholder="Username") }}
                    {{ login_form.password(class_="user_input", placeholder="Password") }}
                    {{ login_form.submit(class_="user_login-button") }}
                </div>
                <div class="user_options">
                    <label><input type="checkbox" name="checkbox" id="user_checkbox"> Remember me</label>
                    <a href="#"> Forgot my password </a>
                </div>
                <hr>
                <div class="user_singup">
                    <a href="{{ url_for('auth.sign_up') }}"> Create an account </a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
{% block scripts %}
{% endblock %}